pandas
numpy
tqdm
ray
attr
typing
matplotlib
scikit-learn
statistics
pyranges
scipy
pybiomart
requests
arboreto
gseapy==0.10.8
networkx
ctxcore
seaborn
pyBigWig
plotly
adjustText
MACS2
lxml
tspex
plotly
kaleido
pyvis
pygam
scanpy~=1.9
cython
plotnine
mudata
git+https://github.com/aertslab/pycisTopic@master#egg=pycisTopic
git+https://github.com/aertslab/pycistarget@master#egg=pycistarget
git+https://github.com/aertslab/pySCENIC@master#egg=pyscenic
git+https://github.com/aertslab/LoomXpy@main#egg=loomxpy
sphinx_rtd_theme
nbsphinx
nbsphinx_link
numpydoc
sphinx_book_theme
